.main {
    display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
   border: solid;
}
body {
    display:flex;
    justify-content: center;
}
.child {
    width: calc(100% / 16);
    padding-bottom: calc(100% / 16);
}
.child:hover {
 background-color: darkblue;    
}
.new {
 width: 500px;
 height: 500px;
}